<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--    <script type="text/javascript">-->
<!--        $(document).ready(function () {-->
<!--            $('#searchForm').submit(function (event) {-->
<!--                let search = {};-->
<!--                search["blogTitle"] = $('#search').val();-->
<!--                $.ajax({-->
<!--                    headers: {-->
<!--                        'Accept': 'application/json',-->
<!--                        'Content-Type': 'application/json'-->
<!--                    },-->
<!--                    type: "POST",-->
<!--                    data: JSON.stringify(search),-->
<!--                    url: "/",-->
<!--                    success: function (blogs) {-->
<!--                        let respContent = "";-->
<!--                        respContent += "<span class='success'>Result";-->
<!--                        for (let item of blogs) {-->
<!--                            respContent += "["-->
<!--                            respContent += item.id + " : ";-->
<!--                            respContent += item.title + " : ";-->
<!--                            respContent += item.content + " : ";-->
<!--                            respContent += item.createOn + " : ";-->
<!--                            respContent += item.category.nameCategory + "]</span>"-->
<!--                            respContent += "</br>";-->
<!--                        }-->
<!--                        $("#result").html(respContent);-->
<!--                    }-->
<!--                });-->
<!--                event.preventDefault();-->
<!--            });-->
<!--        });-->

<!--    </script>-->
</head>
<body>
<h1 style="text-align: center">Blog List</h1>
<h3 id="result"></h3>
<div class="container" style="margin-bottom: 20px;margin-top: 20px">
    <div class="row">
        <div class="col-6 no-padding">
                        <form class="form-inline" method="get" th:action="@{/user/search}">
                            <input class="form-control mr-sm-2" type="search" th:value="${search_key}" name="search_key"
                                   placeholder="Search by title ..."/>
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </form>
<!--            <form class="form-inline" method="post" id="searchForm" action="/" >-->
<!--                <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search by title ..."/>-->
<!--                <button class="btn btn-success" type="submit">-->
<!--                    <i class="fa fa-search"></i> Search-->
<!--                </button>-->
<!--            </form>-->
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
    <tr style="text-align: center">
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,status: ${blogs}" style="text-align: center">
        <th scope="row" th:text="${status.count}"></th>
        <td th:text="${blog.id}"></td>
        <td><a th:href="@{user/{id}/info(id=${blog.getId()})}" th:text="${blog.title}"></a></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.createOn}"></td>
        <td th:text="${blog.category.nameCategory}"></td>
    </tr>
    </tbody>
</table>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" th:href="@{'/user'(page=${blogs.number - 1})}"
                   th:if="${blogs.hasPrevious()}">Previous</a>
            </li>

            <li class="page-item"><a class="page-link" href="#"><span th:text="${blogs.number + 1}"></span>/<span
                    th:text="${blogs.totalPages}"></span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" th:href="@{'/user'(page=${blogs.number + 1})}"
                   th:if="${blogs.hasNext()}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>