<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<div class="container" style="background-color: lightblue;padding-left: 35%">
    <a href="/admin/index" class="btn btn-dark">Back to Book List</a>
    <form th:href="@{/admin/create}" method="post" th:object="${books}">
        <fieldset>
            <legend>Add New Book</legend>
            <table>
                <tr>
                    <td><label for="txtNameBook">Name Book</label></td>
                    <td><input th:text th:field="*{nameBook}" id="txtNameBook"></td>
                </tr>
                <tr>
                    <td><label for="txtAmount">Amount</label></td>
                    <td><input th:field="*{amount}" id="txtAmount"></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-info" value="Create"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
</body>
</html>